body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#UI {
    height: 4%;
    width: 100%;
}

#arena {
    position: relative;
    height: 100%;
    width: 100%;
}

#img-propio {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55%;
    aspect-ratio: 1;
}

#img-rival {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55%;
    aspect-ratio: 1;
}

.arena-container {
    position: relative;
    margin: 0 auto;
    height: 50%;
    aspect-ratio: 1.7;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 14px;

    height: 20%;
    width: 20%;

    padding: 10px;
    border: 2px black solid;
    border-radius: 6px;
}

.hp-container {
    background-color: #505050;
    width: 80%;
    height: 20px;
    padding: 10px;
    margin: 0 auto;
}

.hp-bar {
    background-color: #16be1e;
    width: 100%;
    height: 100%;
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name {
    font-size: 16px;
    font-weight: 1000;
}

.type {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-size: 100%;
    display: inline-block;
}

.name-container {
    height: 25;
    display: flex;
    align-items: center;
}

#poke-propio {
    margin-left: auto;
    margin-right: 5px;
}
