body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#UI {
    height: 4%;
    width: 100%;
}

#arena {
    position: relative;
    height: 50%;
    background-image: url("img/fondo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#img-propio {
    position: absolute;
    top: 160px;
    left: 160px;
    width: 250px;
    height: 250px;
}

#img-rival {
    position: absolute;
    top: 40px;
    left: 480px;
    width: 250px;
    height: 250px;
}

.stats {
    height: 23%;
    width: 100%;
    font-size: 14px;
}

.name {
    font-size: 16px;
    font-weight: 1000;
}

.type {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-size: 100%;
    display: inline-block;
}

.name-container {
    height: 25;
    display: flex;
    align-items: center;
}
