body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#div-arena{
    height: 53%;
    background-image: url("img/poke-bolas.png");
    background-size:cover;
}

#UI {
    height: 4%;
    width: 100%;
    text-align: center;
}

#arena {
    position: relative;
    height: 100%;
    width: 100%;
}

#img-propio {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55%;
    aspect-ratio: 1;
}

#img-rival {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55%;
    aspect-ratio: 1;
}

.arena-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    aspect-ratio: 1.7;
    border: 6px black solid;
    border-radius: 8px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 14px;

    height: 75%;
    width: 25%;

    padding: 10px;
    border: 2px black solid;
    border-radius: 6px;
    margin: 0 10px;

}

.hp-container {
    background-color: #505050;
    width: 80%;
    height: 20px;
    padding: 10px;
    margin: 0 auto;
}

.hp-bar {
    background-color: #16be1e;
    width: 100%;
    height: 100%;
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

#UI-container{
    height: 40%;
    background-color: #939292;
    border: 4px black solid;
    border-radius: 8px;
    margin: 0 10px;

}
.name {
    font-size: 16px;
    font-weight: 1000;
}

.type {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-size: 100%;
    display: inline-block;
}

.name-container {
    height: 25;
    display: flex;
    align-items: center;
}

#poke-propio{
    background-color: rgb(93, 175, 223);
}

#poke-rival{
    background-color: rgb(220, 98, 98);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modal-options {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

#modal-options button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal-options button:hover {
    margin: 3px;
    background-color: #45a049;
}

#modal-options button:nth-child(2) {
    background-color: #f44336;
}

#modal-options button:nth-child(2):hover {
    background-color: #e53935;
}

#UI {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #f7d916;
    padding: 20px;
    border: 3px solid black;
    max-width: 500px;
    margin: 20px auto; 
    position: relative;
    top: -200px;
}

#input {
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

#buttons-container {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background:#ffcc00;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #3b4cca;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-width: 100px;
}

button:hover {
    background:#3b4cca;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#btn-poke {
    background: #d11a2a;
    border-color: #d11a2a;
}

#btn-atk-fis {
    background: #81c784;
    border-color: #1b5e20;
}

#btn-atk-esp {
    background: #ab47bc;
    border-color: #4a148c;
}

#btn-pelear {
    background:#ff7043;
    border-color: #f4511e;
}

/* Estilo para el span */
#atk-seleccionado {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}